*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    color: #fff;
}

.main{
    background-color: #000;
    position: relative;
}
@font-face {
    font-family: Moranga;
    src: url('./fonts/moranga.ttf');
}
@font-face {
    font-family: Gilroy-Bold;
    src: url('./fonts/Gilroy-Bold.otf');
}
@font-face {
    font-family: Gilroy-semibold;
    src: url('./fonts/Gilroy-semibold.otf');
}

/* navigation bar */
/* nav is fixed to all page but after gsap it is not working */

.nav{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    font-family: Moranga;
}
.nav h1{
    width: 10%;
    height: 100%;
    line-height: 2.2vw;
    font-size: 2vw;
}
.scroll_btn{
    font-size: 2vw;
    padding: 1vw;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
}
.resume_btn{
    background-color: rgb(66, 214, 255);
    padding: .5vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 0px 15px rgb(66, 214, 255);
}


/* page1 */

.page1{
    height: 250vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 12vh;
    background-color: #222;
    font-family: Moranga;
}

.content1{
    width: 75%;
    height: 47%;
}
.content1 h1{
    width: 100%;
    height: 10%;
    font-size: 3vw;
    text-align: center;
}
.image{
    width: 100%;
    height: 90%;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* stripe */
.stripe{
    width: 100%;
    height: 8%;
    margin-top: 1%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vw;
}
.about{
    width: 75%;
    height: 42%;
    font-size: 3vw;
    margin-top: 3%;
    text-align: center;
}
.para1, .para2, .page1 button{
    opacity: 0;
}
.page1 button{
    font-size: 2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: .5vw;
    background-color: rgb(66, 214, 255);
    box-shadow: 0px 0px 15px rgb(66, 214, 255);
    margin-bottom: 4%;
    color: #fff;
    text-transform: capitalize;
}


/* page2 */

.page2{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    padding: 2vw 5vw;
    font-family: Gilroy-Bold;
}
.page2 h1{
    font-size: 5vw;
}
.page2 span{
    color: #42D6FF;
}
.page2 h3{
    font-size: 2.5vw;
}
.content2{
    width: 100%;
    height: 30%;
    margin-top: 3%;
}
.content2 h3{
    width: fit-content;
    font-size: 2vw;
    font-weight: 400;
    padding: .5vw;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.element{
    width: 100%;
    margin-top: 2%;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.element img{
    background-color: #fff;
    border-radius: 10px;
    height: 6%;
    width: 6%;
    padding: .2vw;
}


/* page 3 */
.page3{
    height: 100vh;
    width: 100vw;
    background-color: #222;
    padding: 2vw 5vw;
    position: relative;
    font-family: Moranga;
}

/* extra classes */
.border_bottom{
    border-bottom: 3px solid #fff;
}

/* heading */
.page3 h1{
    font-size: 5vw;
    margin-bottom: 5%;
}
.page3 span{
    color: #F6BA53;
}

/* box */
.box3{
    width: 100%;
    height: 10%;
    position: relative;
    overflow: hidden;
    border-top: 3px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    transition: all ease-in-out .5s;
}
.box3 h3{
    z-index: 2;
}

.white_stripe{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(-100%);
    background-color: #fff;
    transition: all ease-in-out .5s;
}